
*
{
    padding: 0;
    margin: 0;
}
.main
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: aquamarine;
}
.div1
{
    background-color: white;;
    height: 30vw;
    width: 30vw;
    font-size: 20px;
    border: 2px solid white;
    padding: 10px;
    margin: 10px;
    text-align: center;
    box-shadow: 10px 10px 5px gray;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    color: tomato;
}